<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Complete profile</title>
  <link rel="stylesheet" href="{% static 'css/upload_acc.css' %}">
	  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- BS -->
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <!-- over -->

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,500;9..40,700&family=Qwitcher+Grypen&family=Rubik+Pixels&display=swap" rel="stylesheet">
  <!-- over -->
  <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body style=" background-color:rgba(0, 0, 255, 0.1);">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

   
 <div class="dash_bor_sec1">

  <!-- <div class="dash_bor_sdbr" id="dashsidebar" >

      <header id="header">
    <div class="d-flex flex-column">
      
       <img src="{% static 'images/Logo.png'%}" alt="" class="Logo mt-4 ms-3">
      <nav id="navbar" class="nav-menu navbar">
       
        <ul>
          <li><a href="#hero" class="nav-link scrollto "><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
          <li><a href="#about" class="nav-link scrollto active"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx fa-solid fa-users"></i> <span>Profile Finder</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Complaints</span></a></li>
          <li><a href="#services" class="nav-link scrollto"> <i class=" bx fa-solid fa-user-plus"></i> <span>Users</span></a></li>
         
          <li><a href="#services" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
        </ul>

      </nav>
      .nav-menu 
    </div>
    <h5 style="position:absolute;bottom:20px;color:white;font-size:0.6em;left:20px;">© 2020 Marriyo. All rights reserved</h5>
  </header>
  
  </div> -->

  <!-- <div class="dash_bor_main1" > -->
    <!-- start1-->

    <!-- <div class="dash_par1" style="background:white;">

          <i class="fa-regular fa-bell"></i>

        <div class="dash_brd_img1">
         <img src="{% static 'images/girl1.png'%}">
         <i class="fa-solid fa-caret-down"></i>
         </div>

    </div>
    <i class="bi bi-list fa-solid mobile-nav-toggle fa-bars" id="dashnavclick"></i> -->
    <!-- over -->
   
    
<div class="container">
  <div class="locl_adm_sec1 px-4 my-2 py-2">
    <img src="{% static 'images/Logo_2.png'%}" style="width: 125px">
  </div>
    <!-- start -->
    <div class="local_admin_edi_acc px-3 py-1">

       <h3 class="mb-4"><span style="color:#2B3674;font-weight:500;font-size: 33px;">Profile Details</span></h3>
       <div class="locl_adm_sec1 px-4 my-2" style="padding-left: 0px !important;">
        <h6 style="font-size: 14px;">Enter Your Basic Details For The Better Service!</h6>
  
      </div>
      <div class="local_admin_edi_form p-4 bg-white" style="border-radius:10px;background-color: transparent !important;padding: 0px !important;">
        <form method="POST" enctype="multipart/form-data" id="myform">
          {% csrf_token %}
          <div class="row mb-3">

          <div class="col-lg-4 my-3">
            <label class="form-label">Office Name<span>*</span></label>
            <input type="text" name="office_name" class="form-control" placeholder="Name">
          </div> 

          <div class="col-lg-4 my-3">
            <label class="form-label">Country<span>*</span></label>
            <select id="countryone" class="form-select" name="office_country" onchange="fun1.call(this,event)">
              <option value="default">Select</option>
              {% for j in all %}
              <option value="{{j.name}}">{{j.name}}</option>
              {% endfor %}
            </select>
          </div> 
<div class="col-lg-4 my-3">
            <label class="form-label">City<span>*</span></label>
            <select id="res2" class="form-select" name="office_city">
              <option value="default">Select</option>
              
              <script>
                stat = {{ states|safe }};
            ttt = stat[0].states;
            for (i=0;i<ttt.length;i++){
               tt = ttt[i].name;
               document.write("<option value="tt">"+tt+"</option>");
            }
          </script>
            </select>
          </div> 
          
        </div>

       <div class="row">

        <div class="col-6">
          <label class="form-label">Office Address<span>*</span></label>
            <textarea name="office_address" class="form-control" placeholder="Address" style="min-height: calc(1.5em + 5.75rem + calc(var(--bs-border-width) * 2));"></textarea>
        </div> 
          
        </div> 

        <h4 class="my-4" style="color:#7B61FF;">Personal Information</h4>
          
          <div class="row">
            <div class="col-lg-12">
              <div class="row">

                <div class="col-lg-6 my-3">
                  <label class="form-label">First Name<span>*</span></label>
                  <input type="text" name="first_name" class="form-control" value="{{key.first_name}}">
                </div>

                 <div class="col-lg-6 my-3">
                  <label class="form-label">Last Name<span>*</span></label>
                  <input type="text" name="last_name" class="form-control" value="{{key.last_name}}">
                </div>
                <div class="col-lg-6 my-3">
                  <label class="form-label">Email<span>*</span></label>
                  <input type="text" name="email" class="form-control" value="{{key.email}}">
                </div>

                 <div class="col-lg-6 my-3">
                  <label class="form-label">Mobile Number<span>*</span></label>
                  <input type="text" name="mobile" class="form-control" value="+91 {{key.mobile}}">
                </div>
                <div class="col-lg-12 my-2">
                  <div class="row">
                    <div class="col-lg-3">
                    <h6 style="color:red">1)  Are you 18 years old or more? </h6>
                    </div>
                   <div class="col-lg-1">
                   <input type="radio" name="old_yn" id="age_value"  class="relevant-question" value="Yes"> 
                   <label class="form-label">Yes</label>
                  </div>
                  <div class="col-lg-1">
                   <input type="radio" name="old_yn" id="age_value" class="relevant-question" value="No">
                   <label class="form-label">No</label>
                  </div>
                  <div class="col">
                  </div>
                  </div>
                </div>
                <div class="col-lg-6 my-3">
                  <label class="form-label">Date of Birth:<span>*</span></label>
                  <input type="date" id="dob" name="personal_dob" class="form-control" placeholder="Enter your DOB" onchange="calculateAge()">
                </div>
                <div class="col-lg-6 my-3">
                  <label class="form-label">Age:<span>*</span></label>
                  <input type="text" name="personal_age" id="age" class="form-control" placeholder="Age">
                </div>
                <div class="col-lg-6 my-3">
                  <label class="form-label">House Name/Apartment Number:<span>*</span></label>
                  <input type="text" name="house_number"  class="form-control" placeholder="House/Apartment">
                </div>
                <div class="col-lg-6 my-3">
                  <label class="form-label">Street/City:<span>*</span></label>
                  <input type="text" name="street_name"  class="form-control" placeholder=" ">
                </div>

                <div class="col-lg-6 my-3">
                  <label class="form-label">Country<span>*</span></label>
                  <select id="countrytwo" class="form-select" name="personal_country" onchange="fun2.call(this,event)">
              <option value="default">Select</option>
              {% for j in all %}
                    <option value="{{j.name}}">{{j.name}}</option>
                    {% endfor %}
            </select>
                </div>

                 <div class="col-lg-6 my-3">
                  <label class="form-label">State<span>*</span></label>
                  <select id="res3" class="form-select" name="personal_city">
              <option value="default">Select</option>
              <script>
                stat = {{ states|safe }};
            ttt = stat[0].states;
            for (i=0;i<ttt.length;i++){
               tt = ttt[i].name;
               document.write("<option value="tt">"+tt+"</option>");
            }
          </script>
            </select>
                </div>
              
                <div class="col-lg-6 my-3">
                  <label class="form-label">Pin/Zip Code:<span>*</span></label>
                  <input type="text" name="pin_code"  class="form-control" placeholder="">
                </div>
              

                <div class="col-lg-6 my-3">
                  <label class="form-label">Hiring Manager<span>*</span></label>
                  <select class="form-select" name="my_hiring_manager">
                    <option value="">Select</option>
                    {% for i in hiring_manager %}
                    <option value="{{i.uid}}">{{i.first_name}} {{i.last_name}}</option>
                    {% endfor %}
                  </select>
                </div> 
              
                
              </div>
              
            </div>
            <h4 class="my-2" style="color:#7B61FF;">Identification Information</h4>
          <div class="col-lg-12 my-3">
            <div class="row">
              <div class="col-lg-12 my-3">
                <div class="row">
                  <div class="col-lg-6">
                  <h6><span style="color:red">* </span>Select your government-issued photo ID and enter that ID Number:</h6>
                  </div>
                 <div class="col-lg-2">
                 <input type="radio" name="gov_id" id="adhar_selct" value="Aadhaar"> 
                 <label class="form-label">Aadhaar</label>
                </div>
                <div class="col-lg-2">
                 <input type="radio" name="gov_id" id="pan_selct" value="Pan">
                 <label class="form-label">Pan Card</label>
                </div>
                <div class="col-lg-2">
                  <input type="radio" name="gov_id" id="both_selct" value="Both">
                  <label class="form-label">Both</label>
                 </div>
                </div> 
              </div>
              <div class="col-lg-12 my-3" id="adhar">
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Aadhaar Number<span>*</span></label>
                    <input type="text" name="aadhaar_no" class="form-control" placeholder="Enter Your Aadhaar Number">
                  
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Aadhaar Card<span>*</span></label>
                    <div class="local_admin_drag_area">
             
                      <div class="icon"><i class="fa-solid fa-file-image"></i></div>
                        <header>Drag or click here to Upload your Certificate </header>
  
                        <input type="file" name="aadhaar_card" style="
                        opacity: 0;
                        position: absolute;">
                 
 
                       </div>                    
                   </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 my-3" id="pan">
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Pan Number<span>*</span></label>
                    <input type="text" name="pan_no" class="form-control" placeholder="Enter Your Pan Number">
                  
                  </div>
                </div>
                  <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Pan Card<span>*</span></label>
                    <div class="local_admin_drag_area">
             
                      <div class="icon"><i class="fa-solid fa-file-image"></i></div>
                        <header>Drag or click here to Upload your Certificate </header>
  
                        <input type="file" name="pan_card" style="
                        opacity: 0;
                        position: absolute;">
                 
 
                       </div>                    
                   </div> 
                  </div>
              </div>
              <div class="col-lg-12 my-3" >
                <div class=" col-lg-12 my-3">
                  <div class="row">
                    <div class="col-lg-3">
                    <h6 ><span style="color:red">* </span>Do you have a driving license?</h6>
                    </div>
                   <div class="col-lg-2">
                   <input type="radio" name="driving" id="drive_yes" value="Yes"> 
                   <label class="form-label">Yes</label>
                  </div>
                  <div class="col-lg-2">
                   <input type="radio" name="driving" id="drive_no" value="No">
                   <label class="form-label">No</label>
                  </div>
                </div>
                
                <div class=" col-lg-12 my-3" id="drive">
                  <div class="row">
                  <div class="col-lg-6 my-4">
                    <label class="form-label">Driving Licence Number<span>*</span></label>
                    <input type="text" name="drive_licence_no" class="form-control" placeholder="Enter Your Driving Licence Number">
                    
                    <div class=" my-3">
                      <label class="form-label">Licence Issued Date<span>*</span></label>
                      <input type="date" name="drive_licence_date" class="form-control" >
                    
                    </div> 
                    <div class="my-3">
                      <label class="form-label">Licence Issued State<span>*</span></label>
                      <input type="text" name="licence_state" class="form-control"  >
                    
                    </div> 
                  </div>
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Driving Licence<span>*</span></label>
                    <div class="local_admin_drag_area">
             
                      <div class="icon"><i class="fa-solid fa-file-image"></i></div>
                        <header>Drag or click here to Upload your Certificate </header>
  
                        <input type="file" name="drive_licence" style="
                        opacity: 0;
                        position: absolute;">
                 
                       </div>                    
                   </div> 
                  </div>
                 
                </div>
              </div>

            </div>
          </div>
          <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-5">
              <h6 style="color:red">2) Have you ever applied to this organization in the past? </h6>
              </div>
             <div class="col-lg-2">
             <input type="radio" name="applied_yn" id="applied_yes" class="relevant-question" value="Yes"> 
             <label class="form-label">Yes</label>
            </div>
            <div class="col-lg-2">
             <input type="radio" name="applied_yn" id="applied_no"  class="relevant-question" value="No">
             <label class="form-label">No</label>
            </div>
            <div class="col-lg-3">
            </div>
            </div>
          </div>
          <div class="row" id="applied_past">
            <div class="col-lg-6 my-3">
              <label class="form-label">* When is applied (date):<span>*</span></label>
              <input type="date"  name="past_applied_date" class="form-control" >
            </div>
            <div class="col-lg-6 my-3">
              <label class="form-label">* Which position is applied?<span>*</span></label>
              <input type="text"  name="past_applied_position" class="form-control" >
            </div>
            {% comment %} <div class="col-lg-6 my-3">
              <label class="form-label">*Citizen of the country:<span>*</span></label>
              <input type="text"  name="applied_country" class="form-control">
            </div> {% endcomment %}
          </div>
          </div>     
        </div>  

        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-8">
              <h6 style="color:red">3) Have you ever been convicted, pleaded guilty, contested, or had a white-held judgment
                to a felony? </h6>
              </div>
             <div class="col-lg-2">
             <input type="radio" name="judgment_yn" id="judgment_yes" class="relevant-question" value="Yes"> 
             <label class="form-label">Yes</label>
            </div>
            <div class="col-lg-2">
             <input type="radio" name="judgment_yn" id="judgment_no" class="relevant-question" value="No">
             <label class="form-label">No</label>
            </div>
           
            </div>
          </div>
          <div class="row" id="judgment_box">
            <div class="col-lg-6 my-3">
              <label class="form-label">please explain:<span>*</span></label>
              <input type="text" name="judgment_felony" class="form-control"  style="min-height: calc(1.5em + 5.75rem + calc(var(--bs-border-width) * 2));" > 
            </div>
            
          </div>
          </div>     
        

        <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-8">
                <h6 style="color:red">4) Have you ever worked in a government sector?</h6>
                </div>
                <div class="col-lg-2">
                <input type="radio" name="govt_yn" id="govt_yes" class="relevant-question" value="Yes"> 
                <label class="form-label">Yes</label>
                </div>
                <div class="col-lg-2">
                <input type="radio" name="govt_yn" id="govt_no" class="relevant-question" value="No">
                <label class="form-label">No</label>
                </div>
           
              </div>
            </div>
          <div class="row" id="govt_sector">
              <div class="col-lg-6 my-3">
                <label class="form-label">Start Date:</label>
                <input type="date"  name="govtjob_start_date" class="form-control" >
              </div>
              <div class="col-lg-6 my-3">
                <label class="form-label">End Date:</label>
                <input type="date"  name="govtjob_end_date" class="form-control" >
              </div>
            
          </div>
        </div>     
        

        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-8">
              <h6 style="color:red">5) Do you have Notary Licence?</h6>
              </div>
             <div class="col-lg-2">
             <input type="radio" name="notary_yn" id="notary_yes" class="relevant-question" value="Yes"> 
             <label class="form-label">Yes</label>
            </div>
            <div class="col-lg-2">
             <input type="radio" name="notary_yn" id="notary_no" class="relevant-question" value="No">
             <label class="form-label">No</label>
            </div>
           
            </div>
          </div>
          <div class="row" id="notary_licence">
            <div class="col-lg-6 my-3">
              <label class="form-label">Notary Licence Number:</label>
              <input type="text"  name="notary_lic_no" class="form-control" >
            </div>
            <div class="col-lg-6 my-3">
              <label class="form-label">Issued Date:</label>
              <input type="date"  name="notary_issued" class="form-control" >
            </div>
            <div class="col-lg-6 my-3">
              <label class="form-label">State:</label>
              <input type="text"  name="notary_state" class="form-control" >
            </div>
            
          </div>
          </div>     
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                <h6 style="color:red">6) Do you know english reading and typing?</h6>
                </div>
                <div class="col-lg-2">
                <input type="radio" name="english_yn" id="english_yes" class="relevant-question" value="Yes"> 
                <label class="form-label">Yes</label>
                </div>
                <div class="col-lg-2">
                <input type="radio" name="english_yn" id="english_no" class="relevant-question" value="No">
                <label class="form-label">No</label>
                </div>
           
              </div>
            </div>
          

        </div> 
         
          <h4 class="my-2" style="color:#7B61FF;">Qualifications</h4>
          <h3 class="my-2">Education Details</h3>
          <div class="row">
            <div class="col-lg-12" id="addeducationdetail">
              <div class="row">

                <div class="col-lg-6 my-3">
                  <label class="form-label">Level of Education<span>*</span></label>
                  <input type="text" name="level_education" class="form-control" placeholder="Course Name" required>
                </div>

                 <div class="col-lg-6 my-3">
                  <label class="form-label">Field Of Study<span>*</span></label>
                  <input type="text" name="field_study" class="form-control" placeholder="Major Subject" required>
                </div>
                <div class="col-lg-6 my-3">
                  <label class="form-label">Name of School / College / University:<span>*</span></label>
                  <input type="text" name="school_colege" class="form-control" placeholder="Name of school/college " required>
                </div>
                <div class="col-lg-6 my-3">
                  <label class="form-label">Completed Year<span>*</span></label>
                  <input type="text" name="completed_year" class="form-control" placeholder="Completed Year" required>
                </div>
                <div class="col-lg-6 my-3">
                  <label class="form-label">Location<span>*</span></label>
                  <input type="text" name="study_location" class="form-control" placeholder="location/Address" required>
                </div>
                <div class="row">
                <div class="col-lg-6 my-3">
                  <label class="form-label">Degree Certificate<span>*</span></label>
                  <div class="local_admin_drag_area">
           
                    <div class="icon"><i class="fa-solid fa-file-image"></i></div>
                     <header>Drag or click here to Upload Certificate </header>

                     <input type="file" name="degree_cer" style="
                     opacity: 0;
                     position: absolute;" required>
               

                 </div>  </div>
                </div>
              </div>
            </div>
                <div class="local_admin_edi_subbtn my-4">
                  <button type="button" id="addeducation" data-bs-toggle="modal" data-bs-target="" style="background: linear-gradient(56deg, #2B44CC 17.79%, #D883F0 73.51%, #E487F3 77.35%);
                  color: white;border: 2px solid white;"> Add More</button>
                </div>
             </div>
           
             <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-4">
                    <h6 ><span style="color:red">* </span>Do you have any other skills?</h6>
                  </div>
                  <div class="col-lg-2">
                  <input type="radio" name="skill_yn" id="skill_yes" value="Yes"> 
                  <label class="form-label">Yes</label>
                  </div>
                  <div class="col-lg-2">
                  <input type="radio" name="skill_yn" id="skill_no" value="No">
                  <label class="form-label">No</label>
                  </div>
                  <div class="col-lg-4"></div>
                </div>
              </div>
              <div class="row" id="skill">
                <div class="col-lg-6 my-3"  >
                  <label class="form-label">Skill Details:</label>
                  <input type="text"  name="skills" class="form-control" >
                </div>
              </div>
                <div class="local_admin_edi_subbtn my-4">
                  <button type="button" id="skill_btn" data-bs-toggle="modal" data-bs-target="" style="background: linear-gradient(56deg, #2B44CC 17.79%, #D883F0 73.51%, #E487F3 77.35%);
                  color: white;border: 2px solid white;"> Add More</button>
                </div>
              

          </div>   




            <h3 class="my-4">Work And Experience Details</h3>
          <div>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">

                  <div class="col-lg-6 my-3">
                    <label class="form-label">Job Title<span>*</span></label>
                    <input type="text" name="work_job_title" class="form-control" placeholder="Job Title">
                  </div>

                  <div class="col-lg-6 my-3">
                    <label class="form-label">Company Name<span>*</span></label>
                    <input type="text" name="work_company_name" class="form-control" placeholder="Company Name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Start Date<span>*</span></label>
                    <input type="date" name="work_start_date" class="form-control" >
                  </div>
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Salary<span>*</span></label>
                    <input type="text" name="starting_salary" class="form-control" placeholder="Starting Salary">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">End Date<span>*</span></label>
                    <input type="date" name="work_end_date" class="form-control" >
                  </div>
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Final Salary<span>*</span></label>
                    <input type="text" name="final_salary" class="form-control" placeholder="Final Salary">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Reason for Leaving<span>*</span></label>
                    <input type="text" name="reason_leaving" class="form-control" placeholder="Reason" >
                  </div>
                </div>
                
              </div>
              
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-5">
                        <h6 ><span style="color:red">*</span>May we contact the employer?</h6>
                      </div>
                      <div class="col-lg-2">
                      <input type="radio" name="contact_yn" id="contact_yes" value="Yes"> 
                      <label class="form-label">Yes</label>
                      </div>
                      <div class="col-lg-2">
                      <input type="radio" name="contact_yn" id="contact_no" value="No">
                      <label class="form-label">No</label>
                      </div>
                      <div class="col-lg-3"></div>  
                    </div>
                  </div>
              
              <div class="row">
                  <div class="col-lg-6 my-3" id="explanation">
                    <label class="form-label">If not, please explain<span>*</span></label>
                    <input type="text" name="work_review_y" class="form-control" placeholder="Explain" >
                  </div>
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Experience Certificate<span>*</span></label>
                    <div class="local_admin_drag_area">
            
                      <div class="icon"><i class="fa-solid fa-file-image"></i></div>
                      <header>Drag or click here to Upload your Certificate </header>

                      <input type="file" name="expr_certi" style="
                      opacity: 0;
                      position: absolute;">
                
                    </div>
                  </div>                     
              </div>
            </div>
            <div class="local_admin_edi_subbtn my-4" id="exp_btn">
              <button type="button" id="experience-btn" data-bs-toggle="modal" data-bs-target="" style="background: linear-gradient(56deg, #2B44CC 17.79%, #D883F0 73.51%, #E487F3 77.35%);
              color: white;border: 2px solid white;"> Add More</button>
            </div>
            <div class="row" id="experience1">
              <div class="col-lg-12">
                <div class="row">

                  <div class="col-lg-6 my-3">
                    <label class="form-label">Job Title<span>*</span></label>
                    <input type="text" name="work_job_title" class="form-control" placeholder="Job Title">
                  </div>

                  <div class="col-lg-6 my-3">
                    <label class="form-label">Company Name<span>*</span></label>
                    <input type="text" name="work_company_name" class="form-control" placeholder="Company Name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Start Date<span>*</span></label>
                    <input type="date" name="work_start_date" class="form-control" >
                  </div>
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Salary<span>*</span></label>
                    <input type="text" name="starting_salary" class="form-control" placeholder="Starting Salary">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">End Date<span>*</span></label>
                    <input type="date" name="work_end_date" class="form-control" >
                  </div>
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Final Salary<span>*</span></label>
                    <input type="text" name="final_salary" class="form-control" placeholder="Final Salary">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Reason for Leaving<span>*</span></label>
                    <input type="text" name="reason_leaving" class="form-control" placeholder="Reason" >
                  </div>
                </div>
                
              </div>
              
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-5">
                        <h6 ><span style="color:red">*</span>May we contact the employer?</h6>
                      </div>
                      <div class="col-lg-2">
                      <input type="radio" name="contact_yn" id="contact1_yes" value="Yes"> 
                      <label class="form-label">Yes</label>
                      </div>
                      <div class="col-lg-2">
                      <input type="radio" name="contact_yn" id="contact1_no" value="No">
                      <label class="form-label">No</label>
                      </div>
                      <div class="col-lg-3"></div>  
                    </div>
                  </div>
              
              <div class="row">
                  <div class="col-lg-6 my-3" id="explanation1">
                    <label class="form-label">If not, please explain<span>*</span></label>
                    <input type="text" name=" work_review_y" class="form-control" placeholder="Explain" >
                  </div>
                  <div class="col-lg-6 my-3">
                    <label class="form-label">Experience Certificate<span>*</span></label>
                    <div class="local_admin_drag_area">
            
                      <div class="icon"><i class="fa-solid fa-file-image"></i></div>
                      <header>Drag or click here to Upload your Certificate </header>

                      <input type="file" name="expr_certi" style="
                      opacity: 0;
                      position: absolute;">
                
                    </div>
                  </div>                     
              </div>
             
              <div class="local_admin_edi_subbtn my-4" id="can2_btn">
                <button type="button" id="cancel-btn" data-bs-toggle="modal" data-bs-target="" style="background: linear-gradient(56deg, #2B44CC 17.79%, #D883F0 73.51%, #E487F3 77.35%);
                color: white;border: 2px solid white;"> Cancel</button>
                {% comment %} <button type="button" id="close-btn" data-bs-toggle="modal" data-bs-target="" style="background: linear-gradient(56deg, #2B44CC 17.79%, #D883F0 73.51%, #E487F3 77.35%);
                color: white;border: 2px solid white;"> Close</button> {% endcomment %}
              </div>
            </div>
            
          </div>
              {% comment %} <div class="row">
                <div class="col-lg-12">
                    <div class="row">
    
                      <div class="col-lg-6 my-3">
                        <label class="form-label">Job Title<span>*</span></label>
                        <input type="text" name="ex_job_title" class="form-control" placeholder="Job Title">
                      </div>
    
                      <div class="col-lg-6 my-3">
                        <label class="form-label">Company Name<span>*</span></label>
                        <input type="text" name="ex_company_name" class="form-control" placeholder="Company Name">
                      </div>
                    </div>
                    <div class="row">
    
                      <div class="col-lg-6 my-3">
                        <label class="form-label">Year Of Experience<span>*</span></label>
                        <input type="text" name="year_experience" class="form-control" placeholder="Year Of Experience">
                      </div>
                      <div class="col-lg-6 my-3">
                        <label class="form-label">Location<span>*</span></label>
                        <input type="text" name="ex_location" class="form-control" placeholder="Location">
                      </div>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-4">
                    <h6 ><span style="color:red">* </span>Do you have any business?</h6>
                  </div>
                  <div class="col-lg-2">
                  <input type="radio" name="busin_yn" id="busin_current" value="current"> 
                  <label class="form-label">Current</label>
                  </div>
                  <div class="col-lg-2">
                  <input type="radio" name="busin_yn" id="busin_past" value="past">
                  <label class="form-label">Past</label>
                  </div>
                  <div class="col-lg-2">
                    <input type="radio" name="busin_yn" id="busin_no" value="No">
                    <label class="form-label">No</label>
                    </div>
                  <div class="col-lg-4"></div>
                </div>
              </div>
              <div class="col-lg-6" id="busin_explain">
                <input type="text" name="curent_busines"  class="form-control" placeholder="Explain">
              </div>
              <div class="col-lg-6" id="busin_explain1">
                <input type="text" name="past_business"  class="form-control" placeholder="Explain">
              </div>

              
                  <div class="row">
                    <div class="col-lg-12 my-3">
                      <h3 ><span style="color:red">* </span>Select the type of account you want:</h3>
                    </div>
                    <div class="row">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-3">
                      <input type="radio" name="mariyo_work_type"  id="select_b" value="Business"> 
                      <label class="form-label">BUISNESS</label>
                      </div>
                      <div class="col-lg-3">
                      <input type="radio" name="mariyo_work_type"  id="select_p" value="Personal">
                      <label class="form-label">PERSONAL</label>
                      </div>
                    </div>
                   
                  </div>
                  <div class="row" id="buisness_1">
                    <div class="col-lg-12" >
                      <div class="row">

                        <div class="col-lg-6 my-3">
                          <label class="form-label">Company Legal Name<span>*</span></label>
                          <input type="text" name="company_name" class="form-control" placeholder="Company Name">
                        </div>

                        <div class="col-lg-6 my-3">
                          <label class="form-label">Company Address<span>*</span></label>
                          <input type="text" name="company_address" class="form-control" placeholder="Company Address">
                        </div>
                      
                      

                        <div class="col-lg-6 my-3">
                          <label class="form-label">Company Phone Number<span>*</span></label>
                          <input type="text" name="company_phone" class="form-control" placeholder="Phone Number">
                        </div>

                        <div class="col-lg-6 my-3">
                          <label class="form-label">Company Email<span>*</span></label>
                          <input type="email" name="company_email" class="form-control" placeholder="Company Mail">
                        </div>
                        <div class="col-lg-6 my-3">
                          <label class="form-label">GST/TAX Number<span>*</span></label>
                          <input type="email" name="gst_number" class="form-control" placeholder="Registered Number">
                        </div>
                      </div>
                      <div class="row">
                         <div class="col-lg-6 my-3">
                          <label class="form-label">GST Registered Certificate<span>*</span></label>
                          <div class="local_admin_drag_area">
                   
                            <div class="icon"><i class="fa-solid fa-file-image"></i></div>
                             <header>Drag or click here to Upload your Certificate </header>
       
                             <input type="file" name="gst_certificate" style="
                             opacity: 0;
                             position: absolute;" required>
                       
       
                         </div>                      </div>
                      </div>
                      {% comment %} <div class="row">
        
                        <div class="col-lg-6 my-3">
                          <label class="form-label">Company Pan Number<span>*</span></label>
                          <input type="text" name="company_pan_no" class="form-control" placeholder="Company Pan Number" required>
                        </div>
                      </div> {% endcomment %}
                      {% comment %} <div class="row">
        
                        <div class="col-lg-6 my-3">
                          <label class="form-label">ARN Number<span>*</span></label>
                          <input type="text" name="arn_no" class="form-control" placeholder="ARN Number" required>
                        </div>
                      </div> {% endcomment %}
                      {% comment %} <div class="row">
                        <div class="col-lg-6 my-3">
                         <label class="form-label">PAN Card<span>*</span></label>
                         <div class="local_admin_drag_area">
                  
                           <div class="icon"><i class="fa-solid fa-file-image"></i></div>
                            <header>Drag or click here to Upload your Certificate </header>
      
                            <input type="file" name="pan_card" style="
                            opacity: 0;
                            position: absolute;" required>
                      
      
                        </div>                      </div>
                     </div>{% endcomment %}
                    </div> 
                  </div>      
  
    
          <div class="row my-4">

          <div class="col-lg-12 high_prof_sec9">

              <label class="high_prof_cont">
                        <input type="checkbox">
                        <span class="high_prof_mark"></span>
                         I agree to the Terms of Service and Privacy Policy.
                        </label>
          </div>
          
        </div>
        
       
        <div class="local_admin_edi_subbtn my-4">

          <button>Cancel</button>
          <button type="submit"  id="success" > Update</button>
          {% comment %} exampleModal {% endcomment %}
        </div>
           
      </form>
        
      </div>
      
    </div>
    <!-- over -->
  </div>

   </div>


<!-- Modal -->
{% comment %} <div class="modal fade"id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border:none;">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="local_admin_edi_success">
          <i class="fa-solid fa-circle-check"></i>
          <h4>Done!</h4>
          <h6>The above account successfully updated.</h6>
        </div>
        <div class="modal-footer" style="border:none;">
          
        </div>
      </div> {% endcomment %}


      <script src="{% static 'js/main.js'%}"></script>
        
      <script>
        // just for the demos, avoids form submit
        jQuery.validator.setDefaults({
          debug: true,
          success: "valid"
        });
        $.validator.addMethod("valueNotEquals", function(value, element, arg){
              return arg !== value;
            }, "Select Any One");
        $( "#myform" ).validate({
          rules: {
            office_name: {
              required: true
            },
            office_country: {
              valueNotEquals: "default"
            },
            office_city: {
              valueNotEquals: "default"
            },
            office_address: {
              required: true
            },
            first_name: {
              required: true
            },
            last_name: {
              required: true
            },
            personal_country: {
              valueNotEquals: "default"
            },
            personal_city: {
              valueNotEquals: "default"
            },
            personal_address: {
              required: true
            },
            // notary: {
            //   required: true
            // },
            my_hiring_manager: {
              valueNotEquals: "default"
            }
           

          },
          submitHandler: function (form) {
                    console.log('test');
                    form.submit();
                }
        });
      </script>
      <script>
          $(document).ready(function () {
              $("#success").click(function(){
                  setTimeout(function() {
                      $('#exampleModal').modal('toggle');
                  }, 2000);
              });
          });
      </script>
    <style>
      label.valid
       {
          background: url(images/checked.gif) no-repeat;
          display: none;
          width: 16px;
          height: 16px;
        }
      label.error
      {
        color:red;
      }
    </style>

  <script type="text/javascript">
     function fun1(event) {
      a = document.getElementById("countryone").value;
      <!--document.getElementById("res").innerHTML=a;-->
      c = {{ country|safe }};
      position =c.indexOf(a);
      <!--document.getElementById("res1").innerHTML=position;-->
      stat = {{ states|safe }};
      ttt = stat[position].states;
      tt = "<select>";
      for (i=0;i<ttt.length;i++){
        tt += "<option>"+ttt[i].name+"</option>";
      }
          tt+="</select>";
            document.getElementById("res2").innerHTML=tt;
      }
  
  </script>

  <script type="text/javascript">
    function fun2(event){
    a = document.getElementById("countrytwo").value;
    <!--document.getElementById("res").innerHTML=a;-->
    c = {{ country|safe }};
    position =c.indexOf(a);
    <!--document.getElementById("res1").innerHTML=position;-->
    stat = {{ states|safe }};
    ttt = stat[position].states;
    tt = "<select>";
    for (i=0;i<ttt.length;i++){
       tt += "<option>"+ttt[i].name+"</option>";
    }
         tt+="</select>";
          document.getElementById("res3").innerHTML=tt;
    }
    
    </script>
  

      <script type="text/javascript">
        $(document).ready(function(){
          $("#addeducation").click(function(){
            var educationTemplate = `<div class="row">
              <hr>
              <div class="col-lg-6 my-3">
                <label class="form-label">Level of Education<span>*</span></label>
                <input type="text" name="level_education" class="form-control" placeholder="Course Name" required>
              </div>

               <div class="col-lg-6 my-3">
                <label class="form-label">Field Of Study<span>*</span></label>
                <input type="text" name="field_study" class="form-control" placeholder="Major Subject" required>
              </div>
              <div class="col-lg-6 my-3">
                <label class="form-label">Name of School / College / University:<span>*</span></label>
                <input type="text" name="school_colege" class="form-control" placeholder="Name of school/college " required>
              </div>
              <div class="col-lg-6 my-3">
                <label class="form-label">Completed Year<span>*</span></label>
                <input type="text" name="comp_year" class="form-control" placeholder="Completed Year" required>
              </div>
              <div class="col-lg-6 my-3">
                <label class="form-label">Location<span>*</span></label>
                <input type="text" name="study_location" class="form-control" placeholder="location/Address" required>
              </div>
              <div class="row">
              <div class="col-lg-6 my-3">
                <label class="form-label">Degree Certificate<span>*</span></label>
                <div class="local_admin_drag_area">
         
                  <div class="icon"><i class="fa-solid fa-file-image"></i></div>
                   <header>Drag or click here to Upload Certificate </header>

                   <input type="file" name="degree_cer" style="
                   opacity: 0;
                   position: absolute;" required>
             

               </div>  </div>
              </div>
            </div>
          `;
          $(educationTemplate).appendTo("#addeducationdetail");
          });        
        });
        </script>

        <script>
          $(document).ready(function(){
            $("#skill_btn").click(function(){
              var educationTemplate = `<div class="col-lg-6 my-3"  id="skill">
                <label class="form-label">Skill Details:</label>
                <input type="text"  name="skill_detail" class="form-control" >
              </div>`;
              $(educationTemplate).appendTo("#skill");
            });        
          });
          </script>

        <script>
          $(document).ready(function() { 
            $('#buisness_1').hide(); 

            $('#select_b').click(function() { 
              
              $('#buisness_1').show(); 
            
            }); 
             $('#select_p').click(function() { 
              
              $('#buisness_1').hide(); 
            
            }); 
          }); 
        </script> 
  


        <script>
          function calculateAge() {
            const currentDate = new Date();
      
            const dobInput = document.getElementById("dob");
            const dobValue = new Date(dobInput.value);
      
           
            const timeDifference = currentDate - dobValue;
      
            // Calculate age in years
            const ageInMilliseconds = new Date(timeDifference);
            const ageInYears = Math.abs(ageInMilliseconds.getUTCFullYear() - 1970);
      
            // Display the result
            document.getElementById("age").value = ageInYears + " years";
          }
        </script>
        <script>
          $(document).ready(function() { 
            $("#adhar").hide();
            $("#pan").hide();
            $("#drive").hide();
            $("#applied_past").hide();
            $("#judgment_box").hide();
            $("#govt_sector").hide();
            $("#notary_licence").hide();
            $("#explanation").hide();
            $("#explanation1").hide();
            $("#experience1").hide();
            $("#can2_btn").hide();
            $("#busin_explain").hide();
            $("#busin_explain1").hide();
            
            $("#adhar_selct").click(function(){
              $("#adhar").show();
              $("#pan").hide();
            });
            $("#pan_selct").click(function(){
              $("#adhar").hide();
              $("#pan").show();

            });
            $("#both_selct").click(function(){
              $("#adhar").show();
            $("#pan").show();
            });

            $("#drive_yes").click(function(){
              $("#drive").show();
            });
            $("#drive_no").click(function(){
              $("#drive").hide();
            });
            $("#applied_yes").click(function(){
              $("#applied_past").show();
            });
            $("#applied_no").click(function(){
              $("#applied_past").hide();
            });
            $("#judgment_yes").click(function(){
              $("#judgment_box").show();
            });
            $("#judgment_no").click(function(){
              $("#judgment_box").hide();
            });
            $("#govt_yes").click(function(){
              $("#govt_sector").show();
            });
            $("#govt_no").click(function(){
              $("#govt_sector").hide();
            });
            $("#notary_yes").click(function(){
              $("#notary_licence").show();
            });
            $("#notary_no").click(function(){
              $("#notary_licence").hide();
            });
            $("#contact_no").click(function(){
              $("#explanation").show();
            });
            $("#contact_yes").click(function(){
              $("#explanation").hide();
            });
            $("#contact1_no").click(function(){
              $("#explanation1").show();
            });
            $("#contact1_yes").click(function(){
              $("#explanation1").hide();
            });
            $("#experience-btn").click(function(){
              $("#experience1").show();
              $("#can2_btn").show();
              $("#exp_btn").hide();
            });
            $("#close-btn").click(function(){
              $("#experience1").hide();
              $("#exp_btn").show();
            });
            $("#busin_current").click(function(){
              $("#busin_explain").show();
              $("#busin_explain1").hide();
            });
            $("#busin_past").click(function(){
              $("#busin_explain1").show();
              $("#busin_explain").hide();
            });
            $("#busin_no").click(function(){
              $("#busin_explain1").hide();
              $("#busin_explain").hide();
            });
          }); 
        </script> 
        {% if alert_message %}
        <script>
            alert("{{ alert_message }}");
        </script>
        {% endif %}
       {% comment %} <script>
        document.getElementById('applicationForm').addEventListener('click', function (event) {
          event.preventDefault(); // Prevent the default form submission
      
          // Get the selected values for the relevant questions
          const relevantAnswers = Array.from(document.querySelectorAll('.relevant-question:checked')).map(input => input.value === 'yes');
      
          // Check if exactly 6 relevant questions were answered
          if (relevantAnswers.length === 6) {
              // Check eligibility based on the answers
              const isEligible = relevantAnswers[0] && !relevantAnswers[1] && !relevantAnswers[2] && relevantAnswers[3] && relevantAnswers[4] && relevantAnswers[5];
      
              // Display appropriate message based on eligibility
              if (isEligible) {
                  alert("Congratulations! You are eligible to meet the hiring criteria. Application submitted successfully.");
              } else {
                  alert("Sorry, you are not eligible to meet the hiring criteria. Application cannot be submitted.");
              }
          } else {
              // Not all relevant questions were answered
              alert("Please answer all relevant questions before submitting the application.");
          }
      }); {% endcomment %}
</body>
</html>

<!--   -->